---
import type { BlockButton, BlockHero } from "@/types/directusCollection"
import Button from "@/components/ui/Button.astro";
import PillLink from "@/components/ui/PillLink.astro";
import Headline from '@/components/ui/Headline.astro'
import Section from "@/layouts/Section.astro";
import DirectusImage from "@/components/ui/DirectusImage.astro";
import type { DirectusUser } from "@directus/sdk";

const {
  // layout: rawLayout,
  tagline,
  headline,
  description,
  button_group,
  image,
  user_created,    // <-- grab it here
}  = Astro.props as BlockHero & { user_created: DirectusUser };
// 2. Make sure layout is never null/undefined and always one of our keys

const buttons: BlockButton[] = Array.isArray(button_group && button_group.buttons)
  ? (button_group!.buttons as BlockButton[])
  : [];

---

<Section 
  id="hero-block"
  fullWidth
  class="relative overflow-hidden">
   
   <div class="flex w-full px-6 items-center flex-col justify-between h-screen pt-10 pb-6 gap-24 relative z-10">
    <Headline 
      as="h1"
       class="hero-headline overflow-hidden transition-transform  tracking-tighter text-7xl md:text-[10vw] inline-block text-pretty break-keep leading-[.99] uppercase  text-center">
          Creative Systems, Scalable Code
        </Headline>

        <div class="flex gap-2 items-end  w-full flex-col">
          <div class="md:w-1/2">
            <h2 class="hero-tagline text-lg uppercase tracking-wider text-neutral-500 mb-1">
              Software Engineer | Frontend Architect | Digital Craftsman
            </h2>
            <h4 class="hero-name text-4xl md:text-[5vw] uppercase font-light leading-tight tracking-tighter">
              Judah Sullivan
            </h4>
            <p class="hero-description">Located Currently in Houston, TX</p>
            <p class="hero-description">Currently Open To Work! </p>

            <PillLink href="/contact" className="mt-4">
              Lets Connect
            </PillLink>
          </div>
        </div>
 <!--    {image && (  -->
 <!-- <DirectusImage  -->
 <!--      imageId={image} -->
 <!--    /> -->
 <!--    )} -->
      </div>

  <script src="./BlockHero.barba.ts"></script>
  
</Section>


