---
import type { Posts } from '@/types/directusCollection';
import Section from '@/layouts/Section.astro';
import DirectusImage from '@/components/ui/DirectusImage.astro';

const props = Astro.props as Posts;

const {
  author,
  image,
  title,
  description,
  content,
  published_at,
  seo,
} = props;


---

<Section 
  fullWidth 
  fullHeight 
  class="bg-white py-24 px-4 md:px-16 space-y-16"
>
  <!-- Post Header -->
  <div class="space-y-4 max-w-4xl">
    {published_at && (
      <p class="text-sm text-gray-500 uppercase tracking-widest">
        {new Date(published_at).toLocaleDateString(undefined, {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
        })}
      </p>
    )}

    <h1 class="text-5xl md:text-6xl font-semibold tracking-tight text-gray-900">
      {title}
    </h1>

    {description && (
      <p class="text-lg text-gray-600">{description}</p>
    )}
  </div>

  <!-- Featured Image -->
  {image && (
    <div class="w-full bg-accent rounded-xl flex items-center justify-center">
      <DirectusImage
        imageId={image}
      class=""

      />
    </div>
  )}
  {content && (
    <div class="max-w-7xl mx-auto prose">
      <Fragment set:html={content} />
    </div>
  )}
</Section>

